/* Write your CSS code here */
.contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.contact-image {
  width: 180px;
  height: 180px;
}

.contact-heading {
  font-size: 46px;
  font-weight: bold;
  color: #6d396b;
}
